@font-face {
    font-family: Roboto;
    src: url(src/Roboto-Light.ttf);
}

*{
    font-family: Roboto;
}
/* ----------- HEADER ----------- */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}

header h1{
    color: #000;
    text-shadow: 1px 1px 2px black;
}

header nav ul{
    display: flex;
    list-style: none;
}

header nav ul li a{
    color: #000;
    text-decoration: none;
    margin: 15px;
    margin-right: 50px;
    font-size: 20px;
}


header nav ul li a:hover{
    color: rgb(206, 206, 221);
}

header .iconos{
    display: flex;
    margin-right: 5%;
}

header .iconos img{
    width: 20px;
    height: 20px;
    padding: 10px;
}

header .iconos img:hover{
    transform: scale(1.5);
}


/* ----------- CONTENT ----------- */

body{
    background: linear-gradient(to left,#76943e, #524439);
}

.inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inicio .imagenSobreMi img{
    margin-top: 20px;
    height: 400px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}

.inicio .contenido h2{
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

.inicio .contacto {
    text-align: center;
}

.contacto h2{
    text-shadow: 1px 1px 2px black;
}

body p{
    padding: 20px;
    background-color: rgb(236, 221, 221);
    border: 2px solid black;
    border-radius: 10px;
    width: 500px;
}

/* WEB RESPONSIVE */

@media (max-width:667px) {

    .inicio .imagenSobreMi img{
        margin-top: 20px;
        height: 400px;
        width: 400px;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
    }

    header{
        display: flex;
        flex-direction: column;
    }

    header nav ul li a{
        color: #000;
        text-decoration: none;
        margin: 15px;
        margin-right: 50px;
        font-size: 15px;
    }

    header .iconos{
        display: none;
    }

}   

